.some-cycle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 80px;

    .buttons-container {
        display: flex;

        .buttons-step-by-step {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }
    }

    .cycle-wrapper {
        display: flex;

        .final-matrix-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .column-numbers-wrapper {
                background-color: bisque;
                color: rgb(37, 18, 238);
            }

            .matrix-row {
                display: flex;

                .column-number {
                    width: 50px;
                    border: 1px solid black;
                    background-color: bisque;
                    color: rgb(37, 18, 238);
                }

                .matrix-element {
                    width: 50px;
                    border: 1px solid black;
                }
            }
        }

        .horizontal-matrix-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .column-numbers-wrapper {
                background-color: bisque;
                color: rgb(37, 18, 238);
            }

            .matrix-row {
                display: flex;

                .column-number {
                    width: 50px;
                    border: 1px solid black;
                    background-color: bisque;
                    color: rgb(37, 18, 238);
                }

                .matrix-element {
                    width: 50px;
                    border: 1px solid black;
                    background-color: rgb(138, 181, 255);
                }
            }
        }
    }

    .vertical-decode-wrapper {
        display: flex;

        .row-numbers-wrapper {
            .row-number {
                width: 50px;
                border: 1px solid black;
                background-color: bisque;
                color: rgb(37, 18, 238);
            }
        }

        .vertical-column {
            .vertical-element {
                width: 50px;
                border: 1px solid black;
                background-color: rgb(255, 192, 4);
            }
        }
    }
}
