.vertical-check-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .generic-matrix-wrapper {
        justify-content: center;

        .column-position {
            display: flex;
            // justify-content: space-between;
            .column-position-item {
                width: 50px;
                border: 1px solid black;
                background-color: bisque;
                color: rgb(37, 18, 238);
            }
        }

        .generic-row {
            display: flex;

            .row-position {
                margin-right: 10px;
                color: rgb(37, 18, 238);
            }
        }

        .map-wrapper {
            display: flex;

            .row-position {
                display: flex;
                flex-direction: column;

                .row-position-item {
                    width: 50px;
                    border: 1px solid black;
                    background-color: bisque;
                    color: rgb(37, 18, 238);
                }
            }

            .generic-column {
                display: flex;
                flex-direction: column;
                .generic-item {
                    width: 50px;
                    border: 1px solid black;
                }
            }
        }
    }

    .matrix-wrapper {
        margin-top: 20px;

        .column-position {
            display: flex;
            justify-content: space-between;
            color: rgb(37, 18, 238);
        }

        .matrix-row {
            display: flex;

            .row-position {
                margin-right: 10px;
                color: rgb(37, 18, 238);
            }

            .matrix-rows {
                .external {
                    background-color: rgb(138, 181, 255);
                }

                .external-v {
                    background-color: rgb(251, 220, 182);
                }
            }
        }
    }
}
